.main-content {
    // position: absolute;
    // left: 50%;
    // top: 116%;
    // transform: translate(-50%, -50%);
    width: 1000px;
    max-width: 1000px;
    background-color: $grayColor;
    margin: 0 auto;

    .service-details {
        display: grid;
        grid-template-columns: 5fr 5fr 5fr 5fr;
        justify-content: space-evenly;
        width: 100%;
    
        .box {
         text-align: center; 
         background-color: $whiteColor;
         padding: 2.5rem 2rem;
  
         .box-icon {
            font-size: 2rem;
            font-weight: 700; 
            margin: 0 2rem;
            color: $fontColor;
         }
         
         .box-heading {
            font-size: 1.2rem;
            margin: 2rem 2rem;
            color: $fontColor;
         }

         p {
            font-weight: 100;
            line-height: 1.5;
            font-size: 0.8rem;
            letter-spacing: 1px;
            word-spacing: 2px;
            color: $darkGray;
         }

         span {
             display: inline-block;
             margin: 2rem 0;
             a {
                 text-decoration: none;
                 text-transform: uppercase;
                 color: $linkColor;
                 font-size: 0.8rem;
                 font-weight: 400;
                 transition: letter-spacing .2s ease-in-out;
             }
             a:hover {
                 letter-spacing: 1px;
             }

         }

        }

        .box-1 {
            margin-right: 2px;
        }

        .box-2 {
            margin-right: 2px;
        }

        .box-3 {
            margin-right: 2px;
        }
    }
}


.sale-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .price-timing {
        width: 50%;
        text-align: center;
        padding: 3rem;
        
        h4.offer-slogan {
            color: $darkGray;
            margin: 2rem auto;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;
        }

        h2.offer-heading {
            text-transform: uppercase;
            color: $fontColor;
            font-size: 1.3rem;
            margin: 2rem auto;
        
        }

        p {
            font-size: .8rem;
            letter-spacing: 1px;
            line-height: 1.8;
            text-align: justify;
            color: $darkGray;
            margin: 2rem auto;
        }


        div.pricing {
            margin: 2rem auto;

            span.sale-price {
                font-size: 1.5rem;
                color: $fontColor;
                display: inline-block;
                font-weight: 700;
                margin-right: .5rem;
            }
    
            span.old-price {
                margin-right: .5rem;
                font-weight: 400;
                margin-left: .5rem;
                font-size: 1.1rem;
                display: inline-block;
                color: $darkGray;
                text-decoration: line-through;
            } 
            
        }

        div.sale-timing {
            margin: 2rem auto;
            
            .whiteBg {
                border-radius: 5px;
                display: inline-block;
                background: $whiteColor;
                padding: 1.5rem .5rem;
                font-weight: 700;   
            }

        }

        button {
            border-radius: 20px;
            box-shadow: none;
            border: none;
            width: 7rem;
            height: 2.5rem;
            background: $fontColor;
            color: $whiteColor;
        }


    }

    .item-image{
        width: 50%;
        height: 100%;
        background-image: url("../../images/1370536833.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;    
    }
}
