$navBgColor: #000000cc;
$secondColor: #ecf0f1;
$grayColor: #e6e6ff;
$darkGray: #2C3A47;
$fontColor: #34495e;
$linkColor: #34495e;
$linkBg: #5b5bf5;
$footerLinkColor: #cff150;;
$whiteColor: #fff;
$buttonColor: #cff150;
$mainFont: 'Open Sans', sans-serif;
$headingSecBg: #9acd32;